@import 'settings.scss';

.AboutContent {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.formation, .more {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap:10px;
    padding-bottom:50px;
    padding-top: 40px;
    align-items: center;

    h2{
        padding-bottom: 30px;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
        font-size: 30px;
        text-shadow: 0 0 black;
    }

    p{
        font-size:20px;
        text-shadow: 0 0 black;
    }
}

.formation p{
    padding-bottom:0;
}

.more{
    color: $white;
    background-image: url('../../public/assets/banner/fond-2.webp'); 
    background-size:100vh;
    border-radius: 25px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(0, 0, 0, 0.4);
        border-radius: 25px;
        mix-blend-mode: darken; 
        z-index: 1;
    }

    h2, p, button {
        position: relative; 
        z-index: 2; 
    }
}

.more p{
    padding-bottom:15px;
}

@media (max-width: $smallScreen) {

    .AboutContainer{
        margin-left: 15px;
        margin-right: 15px;
    }

    .formation h2, .more  h2{
        font-size:20px;
        padding:0;
        padding-top:10px;
        padding-bottom: 0px;
    }

    .formation, .more {
        gap:20px;
        padding-bottom: 30px; 
        padding-top:20px;       
    }

    .formation p {
        margin: 0;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    .more p {
        margin: 0;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        
    }

    .more button {
        margin-top: 0px;
        cursor: pointer;
    }

    .more h2{
        padding-bottom:0px;
    }

    .AboutContainer {
        min-height: 0vh;  
        }
}